<body>
 <div id="wrapper">
  <h1>Services</h1>

  <table id="keywords" cellspacing="0" cellpadding="0">
   <thead>
    <tr>
     <th><span>Providers</span></th>
     <th><span>Recharge amount(#)</span></th>
     <th><span>Amount Payable(#)</span></th>
     <th><span>Validity</span></th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td class="lalign">Glo</td>
     <td>600</td>
     <td>600</td>
     <td>30 days</td>
    </tr>
    <tr>
     <td class="lalign">Glo</td>
     <td>600</td>
     <td>600</td>
     <td>30 days</td>
    </tr>
    <tr>
     <td class="lalign">Airtel</td>
     <td>600</td>
     <td>600</td>
     <td>30 days</td>
    </tr>
    <tr>
     <td class="lalign">Glo</td>
     <td>600</td>
     <td>600</td>
     <td>30 days</td>
    </tr>
    <tr>
     <td class="lalign">9mobile</td>
     <td>600</td>
     <td>600</td>
     <td>30 days</td>
    </tr>
    <tr>
     <td class="lalign">MTN</td>
     <td>600</td>
     <td>600</td>
     <td>30 days</td>
    </tr>
   </tbody>
  </table>
 </div>
</body>