<div class="sidebar-container">
 <div class="sidebar-logo">
  <a href="#">Mobile Payment System</a>
 </div>
 <ul class="sidebar-navigation">
  <li class="header">Admin</li>
  <li>
   <a href="#">
    <i class="fa fa-home" aria-hidden="true"></i> Add Vendor
   </a>
  </li>
  <li>
   <a href="/service-list">
    <i class="fa fa-tachometer" aria-hidden="true"></i> Update Services
   </a>
  </li>
  <li (click)="toggleView('services')" class="header">Services</li>
  <li>
   <a (click)="toggleView('services')" href="#">
    <i class="fa fa-users" aria-hidden="true"></i> Mobile Recharge
   </a>
  </li>
  <li>
   <a (click)="toggleView('services')" href="#">
    <i class="fa fa-users" aria-hidden="true"></i> Pay Bills
   </a>
  </li>
  <li>
  <li class="header">Reports</li>
  <li>
   <a (click)="toggleView('service-list')" href="/service-list">
    <i class="fa fa-cog" aria-hidden="true"></i> View Reports
   </a>
  </li>
 </ul>
</div>

<div class="content-container">

 <div class="container-fluid">

  <app-services *ngIf="show=='services'"></app-services>
  <app-service-list *ngIf="show=='service-list'"></app-service-list>
 </div>
</div>