<div class="wrap">
 <div class="row">
  <div (click)="openDialog('9mobile')" class="column">
   <div class="card">
    <img src="../../assets/images/9mobile.png" alt="">
    <p>9mobile</p>
   </div>
  </div>

  <div (click)="openDialog('glo')" class="column">
   <div class="card">
    <img src="../../assets/images/glo.jpg" alt="">
    <p>GLO</p>
   </div>
  </div>

  <div (click)="openDialog('airtel')"  class="column">
   <div class="card">
    <img src="../../assets/images/airtel.png" alt="">
    <p>Airtel</p>
   </div>
  </div>

  <div (click)="openDialog('mtn')" class="column">
   <div class="card">
    <img src="../../assets/images/mtn.png" alt="">
    <p>MTN</p>
   </div>
  </div>
 </div>
</div>